#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.footer{
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 5px auto;
  gap: 3rem;
  /* margin-top: 100px; */
  
}