*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: hsl(235, 18%, 14%);
}
 .countdown-wrapper {
    gap: 1rem;
    display: flex;
    justify-content: center;
    margin-left: 220px;
    width: 80vw;
    max-width: 800px;
}
 .heading {
    color: rgb(255, 255, 255);
    margin-top: 100px;
    font-size: 35px;
    font-family: "Red Hat Text";
}
 .countdown-value {
    background: linear-gradient(hsl(237, 20%, 36%), hsl(236, 21%, 26%), hsl(240, 21%, 8%));
    border: .5rem;
    padding: 2rem;
    width: 100%;
    margin-top: 80px;
    justify-content: center;
    min-width: 80px;
    border-radius: 5px;
    height: 150px;
}
 h2 {
    margin-bottom: -1rem;
    font-family: "Red Hat Text";
    margin-top: 10px;
    color: hsl(345, 95%, 68%);
    font-weight: 700;
    font-size: 34px;
}
 p {
    color: hsl(237, 18%, 59%);
    font-family: "Red Hat Text";
    margin: 30px auto;
}
 .image-container {
    position: relative;
    
}
 .image-container img {
    position: absolute;
    bottom: -380px;
    height: fit-content;
    justify-content: center;
    transform: translate(-79.8%, -40%);
    
}
 .footer {
    display: flex;
    justify-content: center;  
    margin-top: 200px;
    position: relative;
}

.app-wrapper {
    justify-content: center;
    align-items: center;
  }

.until{
    position: relative;
    top: -180px;
    margin-left: 500px;
    text-align: center;
    display: flex;
    align-items: center;
    color: antiquewhite;
}
 /* Media Queries */
 @media screen and (max-width: 750px) {
    .countdown-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 0;
        margin-top: 50px;
        width: 110%;

    }
     .countdown-value {
        width: 200%;
        height: 100px;
        margin-top: 40px;
        align-items: center;
    }

    .image-container {
        position: relative;
    }
     .image-container img {
        width: 100%;
        height: auto;
        position: absolute;
    }

    h2{
        margin-top: -20px;
        margin-left: -10px;
        flex-direction: row;
        text-align: center;
    }

    p{
       margin-top: 15px;
       margin-left: -12px; 
       text-align: center;
       justify-content: center;
    }
    .app-wrapper {
        flex-direction: column;
      }

      .footer {
        display: flex;
        justify-content: center;  
        background-image: url('../assets/images/pattern-hills.svg');
        margin-top: 180px;
        margin-left: -70px;
        align-items: center;
        margin-bottom: -55px;
        /* height: 100px; */
        width: 430px;
        /* bottom: -380px; */
        height: 70px;

    }

    .footer img{
        display: flex;
        position: relative;
        justify-content: center; 
        height: 25px;
        top: -20px;
    }

    .until{
        position: relative;
        top: -150px;
        margin-left: 70px;
        text-align: center;
        display: flex;
        align-items: center;
        color: antiquewhite;
    }
}