*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 450px) {
    .countdown-wrapper{
        gap: 1rem;
        display: flex;
        justify-content: center;
        /* margin-left: 120px; */
        width: 80vw;
        max-width: 800px;
    }

    .countdown-value{
        /* background-color: hsl(236, 21%, 26%); */
        background: linear-gradient(hsl(237, 20%, 36%),hsl(236, 21%, 26%),hsl(240, 21%, 8%));
        border: .5rem;
        padding: 2rem;
        width: 90%;
        margin-top: 80px;
        justify-content: center;
        min-width: 120px;
        border-radius: 5px;
        height: 150px;
        box-sizing: border-box;
    }
  }
  