@import url('https://fonts.google.com/specimen/Nunito+Sans');

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  color: #000000;
  background: rgb(212, 212, 216);

}

.light {
  --background-light: rgb(241, 241, 243);
  --background-header-light :rgb(214, 214, 216);
  --text-light: #000000;
  --card-background-light: #e2e2e2;
}

/* Styles for dark theme */
.dark {
  --background-dark: hsl(207, 26%, 17%);
  --text-dark: #e4e4e4;
  --background-header-dark :hsl(202, 8%, 27%);
  --card-background-dark: hsl(209, 19%, 23%);
}

body.dark{
    /* background: rgb(212, 212, 216); */
    background-color: var(--background-dark);
    /* color: black */
}

.filter{
  display: flex;
  gap: 0.5rem;
}

button{
  cursor: pointer;
  border-radius: 5px;
  background: var(--background-light);
}

.container{
  width: 1140px;
  padding: 0px 5px 5px 0px;
  margin: auto;
}

.container_text{
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  cursor: pointer;
  /* padding-inline: 24px; */
}
.country_card{
  background: var(--background-header-light);

  &:hover{
    box-shadow: 0 0 2px 3px rgb(118, 118, 177);
  }
}

.country_card.light{
  background: var(--card-background-dark);
}


.container_text h5:nth-child(2){
  font-size: 18px;
}

.App{
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  cursor: pointer;
  /* color: aqua; */
}


.container_text img{
  justify-content: space-between;
  margin-right: 5px;
}

.header{
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  text-align: center;
  justify-content: space-between;
  margin-inline: auto;
  padding-inline: 18px;
  left: 0;
  text-decoration: none;
  background: var(--background-header-dark);
  /* box-shadow: 1px rgb(109, 109, 109); */
  box-shadow: 0 0 4px 0px black;
}


.header h5{
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: var(--text-dark);
}

.header p{
  color: var(--text-dark);



  /* &:hover{
    color: blue;
  } */
}

.country_bottom{
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
  /* text-align: center; */
  justify-content: space-between;
  margin-inline: auto;
}

.country_card{
  width: 250px;
  padding: 10px;
  border-radius: 3px;
  color: var(--text-dark);
  background-color: var(--card-background-dark);
  box-shadow: 0 0 4px 0px black;
}

.count_img img{
  width: 100%;
  height: 120px;
  border-radius: 5px;
}

.country_data h3{
  padding: 3rem auto;
  margin-top: 10px;
  text-decoration: none;
}
.country_data p:nth-child(2){
  margin-top: 10px;
  padding: 2px;
  text-decoration: none;
}

.all_country_wrapper{
  margin-top: 100px;
  /* padding: 200px auto; */
}

.country_bottom h4{
  color: white;
  text-align: center;
  margin-top: 15px;
}

input{
  padding: 10px 25px;
  color: var(--text-dark);
  border: 5px;
  border-radius: 2px;
  /* background: rgb(190, 186, 186); */
  background: var(--background-header-dark);
  border: none;
  outline: none;
  margin-bottom: 50px;
  cursor: initial;
  box-shadow: 0 0 4px 0px black;
}


::placeholder{
  color: var(--text-dark)
}

.country_top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

select{
  padding: 10px 25px;
  background: var(--background-header-dark);
  margin-bottom: 50px;
  border: none;
  outline: none;
  border-radius: 3px;
  color: var(--text-dark);
  box-shadow: 0 0 4px 0px black;
  cursor: pointer;
}

.option{
  cursor: pointer;
}

button{
  display: flex;
  padding: 10px 25px;
  color: var(--text-dark);
  /* background: rgb(221, 221, 221); */
  background: var(--background-header-dark);
  box-shadow: 0 0 4px 0px black;
  border: none;
  outline: none;
  margin-bottom: 50px;
}

.country_info_wrapper{
  margin-top: 120px;
  margin-left: 50px;
  color: var(--text-dark);
}
 .country_info_wrapper img{
  margin-right: 5px;
  margin-bottom: -6px;
 }

.country_info-img{
  width: 50%;
  display: flex;
}

.country_info{
  margin-left: 250px;
  margin-top: 10px;
}

.country_info h1{
  margin-left: -150px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.country_info-left{
  width: 90%;
  margin-left: -100px;
  display: flex;
  flex-direction: column;
  max-height: 130px;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 3rem auto;
  column-gap: 3rem;
  margin-top: 30px;
}
.country_info p{
  margin: 0 auto;
  gap: 2rem;
  row-gap: 12px;
  column-gap: 64px;
}

.country_info-img img{
  width: 70%;
  height: 110%;
  margin-top: 20px;
  box-shadow: 0 0 2px 1px black ;
}
.country_info_container{
  display: flex;
  column-gap: 10rem;
  /* max-height: max-content; */
  height: 300px;

}

.country_info-left p{
  margin-top: 1px;
  width: 350px;
  height: 20px;
}
.country_info-left{
  margin-left: -150px;
}

.border_countries
{
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  margin-left: -150px;
  cursor: pointer;
  
  
}

.border_countries a{
  padding: 6px 24px;
  box-shadow: 0 0 4px 0px black;
  border-radius: 4px;
  margin-inline: 4px;
}
.country_border{

  display: flex;
  /* margin: 5px 0; */
  max-width:10px ;
}

.bordersDetail{
  display: flex;
  flex-wrap: wrap; /* Wrap the border countries to the next row when they exceed max-width */
  flex-direction: row;
  justify-content: flex-start;
  gap: 9px;
  width: max-content;
  margin-top: 10px;
  max-width: 500px; /* Adjust th
}

.bordersDetail a {
  margin-right: 8px;
  display: flex;
   /* Add some spacing between the border countries */
}

@media screen and (max-width: 768px) {


  .header h5{
    font-size: 15px;
    margin-left: -15px;
  }

  .header p{
    font-size: 12px;
  }

  p img{
    width: 10px;
    height: 10px;
  }

.header{
  margin: 0;
}


  .container_text.light{
    gap: 0.1rem;
    margin-right: 0px;
  }
  .container {
    width: 100%;
    padding: 0 1rem;
  }

   .country_bottom {
    justify-content: center;
  }
   .country_card {
    width: 100% auto;
    margin-bottom: 2rem;
  }

  .country_top{
    display: contents;
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: space-between; */
    padding-inline: 1px;
    /* gap: 2rem; */
    margin-inline: auto;
    /* margin-top: 50px; */
  }
  select{
    padding: 8px 0px;
    margin-bottom: 0px;
    width: 46vw;
    
  }

  input{
    padding: 10px 5px;
    margin-bottom: 7px;
  }

  .country_info{
    flex-direction: row;
    margin-left: 100px;
  }
  .country_info-left{
    display: inline-table;
    margin-top: -80px;
    margin-left: -110px;
  }

  .country_info-left p{
    margin-left: 10px;
    margin-top: 15px;
  }
 .country_info_wrapper{
    margin-top: 35px;
  }

  .country_info h1{
    margin-left: -100px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .country_info-img{
    display: flex;
    flex-direction: column;
    width: 120%;
    height: 110%;
    margin-top: -20px;
    margin-left: -23px;
  }


  .filter{
    width: 100%;
    height: 100px;
    /* margin-top: -40px; */
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: -2rem;
  }

  .country_info_container{
    flex-direction: column;
    display: block;
  }

  .border_countries{
    display: flex;
    flex-wrap: wrap; /* Wrap the border countries to the next row when they exceed max-width */
    flex-direction: row;
    justify-content: flex-start;
    gap: 9px;
    width: max-content;
    margin-top: 40px;
    margin-left: -100px;
    max-width: 300px; /* Adjust th
}

input[type="text" i] {
  padding: 10px 5px;
  /* color: aqua; */
}

button{
  margin-left: -20px;
  /* margin-top: 100px; */
}
.back{
  margin-top: 100px;
}
.country_border{
  /* width: 10px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 10%;
  /* justify-items: flex-end; */
}


.input__search {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 6px;
  width: 200px;
  outline: none;
}

.bordersDetail{
  margin-bottom: 10px;
}


}

